/* Reboot.css */

.fancy2 {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.fancy2 *,
.fancy2 *::before,
.fancy2 *::after {
  box-sizing: inherit;
}

.fancy2 article, .fancy2 aside, .fancy2 dialog, .fancy2 figcaption, .fancy2 figure, .fancy2 footer, .fancy2 header, .fancy2 hgroup, .fancy2 main, .fancy2 nav, .fancy2 section {
  display: block;
}

.fancy2 {
  font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
}

.fancy2[tabindex="-1"]:focus {
  outline: none !important;
}

.fancy2 hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.fancy2 h1, .fancy2 h2, .fancy2 h3, .fancy2 h4, .fancy2 h5, .fancy2 h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

.fancy2 p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.fancy2 abbr[title],
.fancy2 abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

.fancy2 address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

.fancy2 ol,
.fancy2 ul,
.fancy2 dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.fancy2 ol ol,
.fancy2 ul ul,
.fancy2 ol ul,
.fancy2 ul ol {
  margin-bottom: 0;
}

.fancy2 dt {
  font-weight: bold;
}

.fancy2 dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

.fancy2 blockquote {
  margin: 0 0 1rem;
}

.fancy2 dfn {
  font-style: italic;
}

.fancy2 b,
.fancy2 strong {
  font-weight: bolder;
}

.fancy2 small {
  font-size: 80%;
}

.fancy2 sub,
.fancy2 sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

.fancy2 sub { bottom: -.25rem; }
.fancy2 sup { top: -.5rem; }


.fancy2 a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.fancy2 a:hover {
  color: #0069bf;
  text-decoration: underline;
}

.fancy2 a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

.fancy2 a:not([href]):not([tabindex]):hover,
.fancy2 a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

.fancy2 a:not([href]):not([tabindex]):focus {
  outline: 0;
}

.fancy2 pre,
.fancy2 code,
.fancy2 kbd,
.fancy2 samp {
  font-family: monospace, monospace;
  font-size: 1rem;
}

.fancy2 pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

.fancy2 figure {
  margin: 0 0 1rem;
}

.fancy2 img {
  vertical-align: middle;
  border-style: none;
}

.fancy2 svg:not(:root) {
  overflow: hidden;
}

.fancy2 a,
.fancy2 area,
.fancy2 button,
.fancy2 [role="button"],
.fancy2 input,
.fancy2 label,
.fancy2 select,
.fancy2 summary,
.fancy2 textarea {
  touch-action: manipulation;
}

.fancy2 table {
  border-collapse: collapse;
}

.fancy2 caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom;
}

.fancy2 th {
  text-align: left;
}

.fancy2 label {
  display: inline-block;
  margin-bottom: .5rem;
}

.fancy2 button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.fancy2 input,
.fancy2 button,
.fancy2 select,
.fancy2 optgroup,
.fancy2 textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.fancy2 button,
.fancy2 input {
  overflow: visible;
}

.fancy2 button,
.fancy2 select {
  text-transform: none;
}

.fancy2 button,
.fancy2 [type="button"],
.fancy2 [type="reset"],
.fancy2 [type="submit"] {
  -webkit-appearance: button;
}

.fancy2 button::-moz-focus-inner,
.fancy2 [type="button"]::-moz-focus-inner,
.fancy2 [type="reset"]::-moz-focus-inner,
.fancy2 [type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.fancy2 input[type="radio"],
.fancy2 input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}


.fancy2 input[type="date"],
.fancy2 input[type="time"],
.fancy2 input[type="datetime-local"],
.fancy2 input[type="month"] {
  -webkit-appearance: listbox;
}

.fancy2 textarea {
  overflow: auto;
  resize: vertical;
}

.fancy2 fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.fancy2 legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

.fancy2 progress {
  vertical-align: baseline;
}

.fancy2 [type="number"]::-webkit-inner-spin-button,
.fancy2 [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

.fancy2 [type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

.fancy2 [type="search"]::-webkit-search-cancel-button,
.fancy2 [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.fancy2 ::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

.fancy2 output {
  display: inline-block;
}

.fancy2 summary {
  display: list-itrem;
}

.fancy2 template {
  display: none;
}

.fancy2 [hidden] {
  display: none !important;
}

/*  */


/* Bootstrap */

.fancy2 h1, .fancy2 h2, .fancy2 h3 {
  margin: 2rem 0 .5rem 0;
  font-weight: 500;
  line-height: 1.1;
}

.fancy2 h1 {
  font-size: 2.5rem;
}

.fancy2 h2 {
  font-size: 2rem;
}

.fancy2 h3 {
  font-size: 1.75rem;
}

/*  */


/* Top-level elements */

.fancy2 #fancy-o-meter-target {
  font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
}

/*  */

/* Navbar */

.fancy2 header {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  padding: .75rem 1rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  z-index: 2;
  white-space: nowrap;
}

.fancy2 header h1 {
  font-size: 1.25rem;
  line-height: inherit;
  margin: 0;
}

.fancy2 nav {
  background-color: #292b2c;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: .5rem 1rem .5rem 20rem;
  height: 3.375rem;
  overflow: hidden;
  transition: height .35s ease;
}

.fancy2 .nav-title {
  display: none;
}

.fancy2 #nav-toggle {
  display: block;
  background-color: transparent;
  color: rgba(255, 255, 255, .5);
  position: absolute;
  top: .5rem;
  right: 1rem;
  padding: .25rem .75rem;
  font-size: 1.875rem;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 0.25rem;
  z-index: 3;
}

.fancy2 #nav-toggle-input {
  display: none;
}

.fancy2 nav > ul {
  position: relative;
  margin-top: 2.375rem;
  margin-bottom: 0;
  left: -20rem;
}

.fancy2 #nav-toggle-input:checked + nav {
  height: 15.875rem;
  transition: height .35s ease;
}

.fancy2 nav > ul > li > a {
  color: rgba(255, 255, 255, .5);
  display: block;
  padding: .5em 1rem;
}

.fancy2 nav > ul > li > a:hover {
  color: rgba(255, 255, 255, .75);
  text-decoration: none;
}

.fancy2 nav > ul > li > a:target {
  color: #fff;
}

@media (min-width: 992px) {
  .fancy2 #nav-toggle {
    display: none;
  }

  .fancy2 nav > ul {
    display: flex;
    position: static;
    margin: 0;
    flex-direction: row;
    margin-bottom: 0;
  }
}

.fancy2 .nav-portrait {
  display: none;
}

/*  */


/* Footer */

.fancy2 footer {
  padding: 3rem;
  color: #6c757d;
  text-align: center;
}

/*  */


/* Content */

.fancy2 #section-experience,
.fancy2 #section-showcase,
.fancy2 footer {
  background-color: #f7f7f7;
}

.fancy2 main {
  padding-top: 5.375rem;
}

.fancy2 section {
  clear: both;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 100%;
  overflow: auto;
}

@media (min-width: 576px) {
  .fancy2 section {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .fancy2 section {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .fancy2 section {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .fancy2 section {
    width: 1140px;
  }
}

.fancy2 table {
  margin-bottom: 1rem;
}

.fancy2 table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}

.fancy2 table th {
  background-color: #eceeef;
  font-weight: bold;
}

.fancy2 table td, .fancy2 table th {
  padding: .75rem;
  border: 1px solid #eceeef;
}

.fancy2 .no-border {
  border-style: none;
}

/*  */


/* Skillset Table */

.fancy2 .skillset-table > caption {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5rem; /* Leaves enough room for the ::after hint */
}

.fancy2 .skillset-table > caption::after {
  content: '\A(hover for details)';
  font-size: 0.9rem;
  font-weight: normal;
  white-space: pre;
}

.fancy2 .skillset-table .skillset-item {
  cursor: help;
  position: relative;
  text-decoration: underline;
  margin-top: 0.5rem;
}

.fancy2 .skillset-table .skillset-item:last-child {
  margin-bottom: 0.5rem;
}

/* Hover text for skillset table items */
.fancy2 .skillset-table .skillset-item:hover::after {
  background-color: #111;
  border-radius: 0.25rem;
  color: #fff;
  content: attr(data-title);
  right: 0;
  line-height: 1.2;
  padding: 0.5rem;
  position: absolute;
  top: 1.75rem;
  width: 16rem;
  white-space: pre-line;
  z-index: 1;
}

/*  */


/* About Section */

.fancy2 .skillset-table {
  margin: auto;
  margin-bottom: 3rem;
}

.fancy2 .skillset-table caption {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.1;
  color: #292b2c;
  caption-side: top;
  text-align: center;
}

@media (min-width: 992px) {
  .fancy2 .skillset-table {
    float: right;
    margin: 0 1rem 3rem 2rem;
  }
}

@media (max-width: 992px) {
  .fancy2 #section-about {
    display: flex;
    flex-direction: column;
  }

  .fancy2 #section-about h2 {
    order: 1;
  }

  .fancy2 #section-about .skillset-table {
    align-self: flex-end;
    order: 3;
  }

  .fancy2 #section-about p {
    order: 2;
  }
}

/*  */

/* Project items */

.fancy2 .project-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fancy2 .project-item {
  align-items: center;
  border: 1px solid #dfdfdf;
  border-radius: 0.25rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding-bottom: 16px;
  width: 22rem;
}

.fancy2 .project-item > .project-thumbnail {
  border-bottom: 1px solid #dfdfdf;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  width: calc(22em - 2px);
}

.fancy2 .project-item > .project-title {
  align-self: flex-start;
  font-size: 1.25rem;
  margin: 1.25rem;
  margin-bottom: 0.75rem;
}

.fancy2 .project-item > .project-description {
  padding: 0 1.25rem;
}

.fancy2 .project-item > .project-links {
  margin-top: 0.5rem;
}

.fancy2 .project-item > .project-links > li {
  display: inline-block;
  margin-right: 1rem;
}

/*  */
