body {
  /* The floating elements start looking terrible below this width */
  min-width: 48em;
}

/* Re-establish some default styles we'd normally be happy to be rid of */

caption {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.117em;
  margin: 1em 0;
}

p {
  margin: 1em 0;
}

/* */

/* Navbars */

nav {
  border: 1px solid #000;
  margin: 32px;
  min-width: 160px;
}

.nav-title {
  font-weight: bold;
}

.nav-toggle {
  display: none;
}

nav li, .nav-title {
  text-align: center;
  padding: 4px 16px;
}

nav li:not(:last-child), .nav-title {
  border-bottom: 1px solid #000;
}

.nav-portrait {
  display: none;
}

/* */

/* Tables */

td, th {
  padding: 4px 8px;
}

th {
  background-color: #eee;
  vertical-align: middle;
}

/* */

/* Main page layout */

header {
  margin-left: 14em; /* Width of navbar and its margins */
}

nav {
  float: left;
  margin-top: 16px;
}

main {
  margin: 32px;
}

.skillset-table {
  float: right;
  margin: 0 0 16px 16px;
}

footer {
  font-size: 0.8em;
  margin-top: 48px;
  text-align: center;
  width: 100%;
}

/* */

/* Skillset table */

.no-border {
  border-style: none;
}

.skillset-table > caption {
  line-height: 1.2;
  margin-bottom: 8px; /* Leaves enough room for the ::after hint */
}

.skillset-table > caption::after {
  content: '\A(hover over a skill for details)';
  font-size: 0.8em;
  font-weight: normal;
  white-space: pre;
}

.skillset-table .skillset-item {
  cursor: help;
  position: relative;
  text-decoration: underline;
}

.skillset-table .skillset-item:not(:last-child) {
  margin-bottom: 0.2em;
}

/* Hover text for skillset table items */
.skillset-table .skillset-item:hover::after {
  background-color: #111;
  color: #fff;
  content: attr(data-title);
  right: 0;
  line-height: 1.2;
  padding: 8px;
  position: absolute;
  top: 1.5em;
  min-width: 15em;
  z-index: 1;
}

/* */

/* Employment history */

.employment-item {
  margin: 2em 0;
}

/* */

/* Project items */

.project-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  align-items: center;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 16px;
  width: 360px;
}

.project-item > .project-thumbnail {
  border: 1px solid #000;
}

.project-item > .project-title {
  margin-bottom: 0.5em;
}

.project-item > .project-links {
  margin-top: 0.5em;
}

.project-item > .project-links > li {
  display: inline-block;
  margin-right: 16px;
}

#project-euler-thumbnail {
  /*
  The Project Euler badge is 62px tall instead of the 180px of all the other
  project images, so this vertically centers it with the rest.
  */
  margin: 59px 0;
}

/* */

/* Contact methods list */

ul.contact-methods-list {
  list-style: disc;
  margin: 1em 0;
  padding-left: 3em;
}

ul.contact-methods-list > li {
  display: list-item;
}

/* */
