/* Re-establish some default styles we'd normally be happy to be rid of */
.retro caption {
  font-weight: bold;
}
.retro h1,
.retro h2,
.retro h3,
.retro h4,
.retro h5,
.retro h6 {
  font-weight: bold;
}
.retro h1 {
  font-size: 2rem;
  line-height: 3rem;
  margin: 2rem 0 .5rem 0;
}
.retro h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1.5rem 0 .5rem 0;
}
.retro h3 {
  font-size: 1.25rem;
  margin: 1rem 0;
}
.retro p {
  margin: 1rem 0;
}

/* Page layout */
.retro {
  min-width: 48rem; /* The floating elements start looking terrible below this width */
  max-width: 58rem;
}
.retro .title {
  margin: 2rem;
}
.retro .title .title__heading::after {
  content: ", Software Developer";
}
.retro .sidebar {
  float: right;
}
.retro main {
  margin: 2rem;
}
.retro .footer {
  font-size: 0.75rem;
  margin-top: 3rem;
  text-align: center;
  width: 100%;
}
.retro .footer .footer__surprise {
  display: none;
}

/* Navigation */
.retro .sidebar {
  border: 1px solid #000;
  margin: 0 2rem 2rem 2rem;
  min-width: 10rem;
}
.retro .sidebar::before {
  content: "Navigation";
  display: block;
  font-weight: bold;
}
.retro .sidebar .sidebar__photo {
  display: none;
}
.retro .sidebar::before,
.retro .nav .nav__item {
  text-align: center;
  line-height: 2rem;
}
.retro .sidebar::before,
.retro .nav .nav__item:not(:last-child) {
  border-bottom: 1px solid #000;
}

/* About section */
.retro .section_about .about__skill {
  font-weight: bold;
  text-decoration: underline;
}
.retro .section_about .about__skill > div {
  display: inline;
}
.retro .section_about .about__skill > img {
  display: none;
}

/* Experience section */
.retro .employment-item {
  margin-top: 1.5rem;
}

/* Showcase section */

.retro .section_showcase .showcase__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.retro .showcase__projects .project {
  align-items: center;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  width: calc(24.5rem + 2px);
}

.retro .project > .project__thumbnail {
  border: 1px solid #000;
}

.retro .project > .project__title {
  margin-bottom: .5rem;
}

.retro .project > .project__links {
  margin-top: .5rem;
}

.retro .project > .project__links > li {
  display: inline-block;
  margin-right: 1rem;
}
